{% load static %}
<header id="header" class="bg-secondary header-text-light">
    <div class="container">
        <div class="header-row">
            <div class="header-column justify-content-start">
                <div class="logo"> <a href="/" class="d-flex" title="Quickai - HTML Template"><img
                            src="{% static 'assets/images/logo-light.png' %}" alt="Quickai" /></a> </div>
            </div>
            <div class="header-column justify-content-end">

                <nav class="primary-menu navbar navbar-expand-lg">
                    <div id="header-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li class="dropdown"> <a class="dropdown-toggle" href="#">INR</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">India - INR</a>
                                    </li>
                                    <li><a class="dropdown-item" href="#">United Arab Emirates - UAE</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Support</a></li>
                            
                        </ul>
                    </div>
                </nav>
                <!-- Primary Navigation end -->

                <!-- Collapse Button
        =============================== -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav">
                    <span></span>
                    <span></span> <span></span> </button>

                <!-- Login Signup
        =============================== -->
                <nav class="login-signup navbar navbar-expand separator ml-sm-2 pl-sm-2">
                    <ul class="navbar-nav">
                        <li class="profile"><a class="pr-0" data-toggle="modal" data-target="#login-modal" href="#"
                                title="Login / Sign up"><span class="d-none d-sm-inline-block">Login / Sign up</span>
                                <span class="user-icon ml-sm-2"><i class="fas fa-user"></i></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>